.entityGraph line {
  cursor: pointer;
  stroke-opacity: 0.6;
}

.entityGraph circle {
  cursor: pointer;
  stroke-width: 1.5px;
}

.entityGraph text {
  cursor: pointer;
  font: 10px sans-serif;
}

.entityGraph svg {
  display: inline-block;
  position: absolute;
}

.entityGraph .edgeLabel {
  font-family: "Roboto Mono", Courier, monospace;
}

.entityGraph .vertexLabel {
  font-family: "Roboto Mono", Courier, monospace;
}
