.entityGraph line {
  cursor: pointer;
  stroke-opacity: 0.6;
}

.entityGraph circle {
  cursor: pointer;
  stroke-width: 1.5px;
}

.entityGraph text {
  cursor: pointer;
  font: 10px sans-serif;
}

.entityGraph svg {
  display: inline-block;
  left: 0;
  margin-top: 3em;
  position: absolute;
  top: 10px;
}

.entityGraph .edgeLabel {
  font-family: "Roboto Mono", Courier, monospace;
}

.entityGraph .vertexLabel {
  font-family: "Roboto Mono", Courier, monospace;
}

.entityGraph:last-child div:first-child table {
  margin-top: 18em;
  @media (min-width: 36em) {
    margin-top: 36em;
  }
}
